# House price prediction

## Dataste
`https://www.kaggle.com/datasets/muhammadbinimran/housing-price-prediction-data`

In [43]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [44]:
data = pd.read_csv('housing_price_dataset.csv')  # Replace with actual filename

data

       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0            2126         4          1        Rural       1969  215355.283618
1            2459         3          2        Rural       1980  195014.221626
2            1860         2          1       Suburb       1970  306891.012076
3            2294         2          1        Urban       1996  206786.787153
4            2130         5          2       Suburb       2001  272436.239065
...           ...       ...        ...          ...        ...            ...
49995        1282         5          3        Rural       1975  100080.865895
49996        2854         2          2       Suburb       1988  374507.656727
49997        2979         5          3       Suburb       1962  384110.555590
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

[50000 rows x 6 columns]

## Data cleaning

In [45]:
# Check for missing values
print(data.isnull().sum())

# Split into features and target.
x = data.drop('Price', axis=1)
y = data['Price']

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

## Data preprocessing

In [46]:
# Data preprocessing.
# Convert categorical variables to dummy variables.
# Neighborhood is a categorical variable.
# Neighborhood: Rural, Suburban, Urban
# Print available values for Neighborhood
print("Available values",x['Neighborhood'].unique())
x = pd.get_dummies(x, columns=['Neighborhood'],)
x

Available values ['Rural' 'Suburb' 'Urban']

,SquareFeet,Bedrooms,Bathrooms,YearBuilt,Neighborhood_Rural,Neighborhood_Suburb,Neighborhood_Urban
0,2126,4,1,1969,True,False,False
1,2459,3,2,1980,True,False,False
2,1860,2,1,1970,False,True,False
3,2294,2,1,1996,False,False,True
4,2130,5,2,2001,False,True,False
...,...,...,...,...,...,...,...
49995,1282,5,3,1975,True,False,False
49996,2854,2,2,1988,False,True,False
49997,2979,5,3,1962,False,True,False
49998,2596,5,2,1984,True,False,False
49999,1572,5,3,2011,True,False,False

In [47]:
# Split into training and test sets.
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

x_train, x_test, y_train, y_test

(       SquareFeet  Bedrooms  Bathrooms  YearBuilt  Neighborhood_Rural  \
 13866        2673         5          1       2010               False
 49351        2557         3          3       2004               False
 37694        1477         2          3       1954               False
 11067        1664         4          1       2019               False
 30288        1456         5          2       1995                True
 ...           ...       ...        ...        ...                 ...
 29285        1933         4          3       2006               False
 26441        2246         4          2       1990               False
 31772        1633         2          2       1976               False
 36293        2716         3          1       2007               False
 41963        1878         3          1       2009               False

        Neighborhood_Suburb  Neighborhood_Urban
 13866                False                True
 49351                False                True
 37694                 True               False
 11067                 True               False
 30288                False               False
 ...                    ...                 ...
 29285                 True               False
 26441                 True               False
 31772                False                True
 36293                False                True
 41963                False                True

 [40000 rows x 7 columns],
        SquareFeet  Bedrooms  Bathrooms  YearBuilt  Neighborhood_Rural  \
 28857        1332         4          1       1985               False
 37538        1997         3          2       2005               False
 9519         2650         3          2       2004                True
 11552        1897         5          2       1987                True
 34250        1174         3          2       2015               False
 ...           ...       ...        ...        ...                 ...
 32713        2308         5          2       1956                True
 20710        2766         4          3       1950               False
 1165         2887         3          2       1989               False
 6809         2173         5          2       1987               False
 16956        1054         5          1       1992               False

        Neighborhood_Suburb  Neighborhood_Urban
 28857                False                True
 37538                 True               False
 9519                 False               False
 11552                False               False
 34250                 True               False
 ...                    ...                 ...
 32713                False               False
 20710                 True               False
 1165                  True               False
 6809                 False                True
 16956                 True               False

 [10000 rows x 7 columns],
 13866    365109.876724
 49351    354895.018050
 37694    151877.749098
 11067    191360.413391
 30288    186935.910414
              ...
 29285    247047.000787
 26441    276538.063242
 31772    188679.074458
 36293    242983.705428
 41963    171547.197319
 Name: Price, Length: 40000, dtype: float64,
 28857    191122.670083
 37538    190339.890158
 9519     267696.136588
 11552    276695.559218
 34250    143125.348108
              ...
 32713    214451.508360
 20710    264742.280703
 1165     343806.614614
 6809     238125.532462
 16956     69402.902883
 Name: Price, Length: 10000, dtype: float64)

## Model building via linear regression

In [48]:
# Train model.
model = LinearRegression()

model.fit(x_train, y_train)

# Make predictions.
predictions  = model.predict(x_test)

## Model evaluation

In [49]:
# Model evaluation
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = mean_squared_error(y_test, predictions, squared=False)
r_squared = r2_score(y_test, predictions)

print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"R-squared: {r_squared}")

Mean Absolute Error: 39392.53044495386
Mean Squared Error: 2449683664.080558
Root Mean Squared Error: 49494.27910456478
R-squared: 0.5656972895979919

In [50]:
# Test with the first row of the dataset.
sample = x.iloc[0].values.reshape(1, -1)
print(f"Sample: {sample}")

# Predict price for sample.
model.predict(sample)

Sample: [[2126 4 1 1969 True False False]]

c:\Users\ahmed\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([236638.5897624])

## Model building via support vector regression

In [51]:
# # Train model. Use Support Vector Regression.
# model = SVR()

# # Feature scaling - important for SVR
# scaler_X = StandardScaler()
# scaler_y = StandardScaler()
# X_train_scaled = scaler_X.fit_transform(x_train)
# y_train_scaled = scaler_y.fit_transform(np.array(y_train).reshape(-1, 1)).ravel()

# model.fit(X_train_scaled, y_train_scaled)

# # Make predictions.
# predictions  = model.predict(x_test)

## Model evaluation

In [52]:
# # Model evaluation
# mae = mean_absolute_error(y_test, predictions)
# mse = mean_squared_error(y_test, predictions)
# rmse = mean_squared_error(y_test, predictions, squared=False)
# r_squared = r2_score(y_test, predictions)

# print(f"Mean Absolute Error: {mae}")
# print(f"Mean Squared Error: {mse}")
# print(f"Root Mean Squared Error: {rmse}")
# print(f"R-squared: {r_squared}")